## 1.KHÁM PHÁ DỮ LIỆU

In [1]:
import pandas as pd

# Đọc file CSV
stocks1 = pd.read_csv('stocks1.csv')

# Kiểm tra dữ liệu đã đọc
print(stocks1.head())

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [2]:
# Hiển thị 5 dòng đầu tiên
print(stocks1.head(5))

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [3]:
# Hiển thị kiểu dữ liệu của các cột
print(stocks1.dtypes)

date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [4]:
# Hiển thị thông tin tổng quan
print(stocks1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

### 2.XỬ LÝ DỮ LIỆU NULL

In [9]:
# Kiểm tra xem có dữ liệu Null nào không
null_data = stocks1.isnull()
print("Dữ liệu Null trong stocks1:")
print(null_data)

# Tổng số lượng Null trong từng cột
null_counts = stocks1.isnull().sum()
print("\nTổng số lượng Null trong mỗi cột:")
print(null_counts)

Dữ liệu Null trong stocks1:
     date  symbol   open   high    low  close  volume
0   False   False  False  False  False  False   False
1   False   False  False  False  False  False   False
2   False   False  False  False  False  False   False
3   False   False  False   True   True  False   False
4   False   False  False  False  False  False   False
5   False   False  False  False  False  False   False
6   False   False  False  False  False  False   False
7   False   False  False  False  False  False   False
8   False   False  False  False  False  False   False
9   False   False  False  False  False  False   False
10  False   False  False  False  False  False   False
11  False   False  False  False  False  False   False
12  False   False  False   True   True  False   False
13  False   False  False  False  False  False   False
14  False   False  False  False  False  False   False

Tổng số lượng Null trong mỗi cột:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

In [10]:
# Tính giá trị trung bình của cột high
mean_high = stocks1['high'].mean()

# Thay thế Null bằng giá trị trung bình
stocks1['high'].fillna(mean_high, inplace=True)
print("\nDữ liệu Null ở cột 'high' đã được thay thế bằng giá trị trung bình.")

Dữ liệu Null ở cột 'high' đã được thay thế bằng giá trị trung bình.

C:\Users\DELL\AppData\Local\Temp\ipykernel_6532\2215682055.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['high'].fillna(mean_high, inplace=True)

In [11]:
# Tính giá trị trung bình của cột low
mean_low = stocks1['low'].mean()

# Thay thế Null bằng giá trị trung bình
stocks1['low'].fillna(mean_low, inplace=True)
print("\nDữ liệu Null ở cột 'low' đã được thay thế bằng giá trị trung bình.")

Dữ liệu Null ở cột 'low' đã được thay thế bằng giá trị trung bình.

C:\Users\DELL\AppData\Local\Temp\ipykernel_6532\521951137.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['low'].fillna(mean_low, inplace=True)

### 3. GỘP DỮ LIỆU VÀ PHÂN TÍCH CƠ BẢN

In [12]:
import pandas as pd

# Đọc file CSV
stocks2 = pd.read_csv('stocks2.csv')

# Kiểm tra dữ liệu đã đọc
print("Dữ liệu stocks2:")
print(stocks2.head())

Dữ liệu stocks2:
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

In [13]:
# Gộp hai DataFrame
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

# Hiển thị thông tin của DataFrame mới
print("\nDữ liệu sau khi gộp (stocks):")
print(stocks.head())

Dữ liệu sau khi gộp (stocks):
       date symbol     open         high          low    close   volume
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

In [14]:
# Tính giá trung bình
stocks['average'] = stocks[['open', 'high', 'low', 'close']].mean(axis=1)

# Hiển thị kết quả
print("\nGiá trung bình (average) cho mỗi ngày:")
print(stocks[['date', 'average']].head())

Giá trung bình (average) cho mỗi ngày:
       date      average
0  01-03-19  1663.030000
1  04-03-19  1691.240000
2  05-03-19  1698.047500
3  06-03-19  1308.801731
4  07-03-19  1645.895000

In [15]:
# Hiển thị 5 dòng đầu tiên
print("\n5 dòng đầu tiên của DataFrame stocks:")
print(stocks.head(5))

5 dòng đầu tiên của DataFrame stocks:
       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

       average
0  1663.030000
1  1691.240000
2  1698.047500
3  1308.801731
4  1645.895000

### 4.KẾT HỢP DỮ LIỆU TỪ NHIỀU NGUỒN

In [16]:
# Đọc file companies.csv
companies = pd.read_csv('companies.csv')

# Hiển thị 5 dòng đầu tiên
print("5 dòng đầu tiên của companies:")
print(companies.head())

5 dòng đầu tiên của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

In [ ]:
# Kết hợp stocks và companies dựa trên cột symbol
merged_data = pd.merge(stocks, companies, on='symbol', how='inner')

# Hiển thị 5 dòng đầu tiên của dữ liệu kết hợp
print("\n5 dòng đầu tiên của dữ liệu kết hợp (merged_data):")
print(merged_data.head())

In [ ]:
# Tính giá đóng cửa trung bình cho mỗi công ty
average_close_per_company = merged_data.groupby('name')['close'].mean()

# Chuyển kết quả thành DataFrame để dễ hiển thị
average_close_per_company = average_close_per_company.reset_index()
average_close_per_company.columns = ['name', 'average_close']

# Hiển thị kết quả
print("\nGiá đóng cửa trung bình cho mỗi công ty:")
print(average_close_per_company.head())

In [ ]:
# Hiển thị 5 công ty đầu tiên
print("\n5 công ty đầu tiên và giá đóng cửa trung bình:")
print(average_close_per_company.head(5))

### 5.SỬ DỤNG MULTIINDEX VÀ GROUPBY

In [22]:
# Tạo MultiIndex từ cột date và symbol
stocks.set_index(['date', 'symbol'], inplace=True)

# Hiển thị DataFrame sau khi thiết lập MultiIndex
print("DataFrame stocks với MultiIndex:")
print(stocks.head())

DataFrame stocks với MultiIndex:
                    open         high          low    close   volume  \
date     symbol
01-03-19 AMZN    1655.13  1674.260000  1651.000000  1671.73  4974877
04-03-19 AMZN    1685.00  1709.430000  1674.360000  1696.17  6167358
05-03-19 AMZN    1702.95  1707.800000  1689.010000  1692.43  3681522
06-03-19 AMZN    1695.97   943.511538   926.775385  1668.95  3996001
07-03-19 AMZN    1667.37  1669.750000  1620.510000  1625.95  4957017

                     average
date     symbol
01-03-19 AMZN    1663.030000
04-03-19 AMZN    1691.240000
05-03-19 AMZN    1698.047500
06-03-19 AMZN    1308.801731
07-03-19 AMZN    1645.895000

In [23]:
# Tính giá trung bình và volume trung bình cho mỗi ngày, mỗi mã chứng khoán
grouped_data = stocks.groupby(['date', 'symbol']).mean()

# Hiển thị kết quả
print("\nKết quả tính trung bình:")
print(grouped_data.head())

Kết quả tính trung bình:
                    open      high      low    close      volume    average
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0   174.3225
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0  1663.0300
         FB       162.60   163.132   161.69   162.28  11097770.0   162.4255
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0  1133.4025
         TSLA     306.94   307.130   291.90   294.79  22911375.0   300.1900

In [24]:
# Sắp xếp dữ liệu theo MultiIndex (date, symbol)
grouped_data.sort_index(inplace=True)

# Hiển thị kết quả sau khi sắp xếp
print("\nKết quả sau khi sắp xếp:")
print(grouped_data.head())

Kết quả sau khi sắp xếp:
                    open      high      low    close      volume    average
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0   174.3225
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0  1663.0300
         FB       162.60   163.132   161.69   162.28  11097770.0   162.4255
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0  1133.4025
         TSLA     306.94   307.130   291.90   294.79  22911375.0   300.1900

In [25]:
# Lọc dữ liệu 5 ngày đầu tiên (theo thứ tự MultiIndex)
first_5_days = grouped_data.head(5)

print("\nKết quả cho 5 ngày đầu tiên:")
print(first_5_days)

Kết quả cho 5 ngày đầu tiên:
                    open      high      low    close      volume    average
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0   174.3225
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0  1663.0300
         FB       162.60   163.132   161.69   162.28  11097770.0   162.4255
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0  1133.4025
         TSLA     306.94   307.130   291.90   294.79  22911375.0   300.1900

### 6.TẠO VÀ PHÂN TÍCH PIVOT TABLE

In [26]:
# Tạo Pivot Table với date làm chỉ mục, symbol làm cột, và giá trị trung bình của close làm giá trị
pivot_table = stocks.pivot_table(values='close', index='date', columns='symbol', aggfunc='mean')

# Hiển thị Pivot Table
print("Pivot Table:")
print(pivot_table.head())

Pivot Table:
symbol      AAPL     AMZN      FB     GOOG    TSLA
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79
04-03-19  175.85  1696.17  167.37  1147.80  285.36
05-03-19  175.53  1692.43  171.26  1162.03  276.54
06-03-19  174.52  1668.95  172.51  1157.86  276.24
07-03-19  172.50  1625.95  169.13  1143.30  276.59

In [27]:
# Tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol)
total_volume = stocks.groupby('symbol')['volume'].sum()

# Thêm cột tổng volume vào Pivot Table
pivot_table['total_volume'] = pivot_table.columns.map(total_volume)

# Hiển thị kết quả sau khi thêm cột tổng volume
print("\nPivot Table sau khi thêm cột tổng volume:")
print(pivot_table.head())

Pivot Table sau khi thêm cột tổng volume:
symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79     118666547
04-03-19  175.85  1696.17  167.37  1147.80  285.36      23776775
05-03-19  175.53  1692.43  171.26  1162.03  276.54      98018576
06-03-19  174.52  1668.95  172.51  1157.86  276.24       6605385
07-03-19  172.50  1625.95  169.13  1143.30  276.59      78550901

In [1]:
# Sắp xếp Pivot Table theo tổng volume giao dịch từ cao xuống thấp
pivot_table_sorted = pivot_table.sort_values(by='total_volume', axis=1, ascending=False)

# Hiển thị Pivot Table sau khi sắp xếp
print("\nPivot Table sau khi sắp xếp theo tổng volume giao dịch:")
print(pivot_table_sorted.head())

NameError: name 'pivot_table' is not defined

In [2]:
# Hiển thị 5 mã chứng khoán có tổng volume giao dịch cao nhất
top_5_symbols = pivot_table_sorted.iloc[:, :5]

print("\n5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(top_5_symbols)

NameError: name 'pivot_table_sorted' is not defined